{% extends 'shopapp/base.html' %}

{% block title %}
    Update_product
{% endblock %}

{% block body %}
<h1>Внесите изменения </h1>
<div>
    <form method="post" enctype='multipart/form-data' >
    {% csrf_token %}
        {{ form.as_p }}
                <button type="submit">
            Редактировать
        </button>
        </form>
    </div>
<div>
    <a href='{% url "shopapp:product_details" pk=product.pk %}'>
        Вернуться к продукту '{{ product.name }}'
    </a>
</div>

{% endblock %}