{% extends 'shopapp/base.html' %}

{% block title %}
    Archived product #{{ product.pk }}
{% endblock %}

{% block body %}
<h1>Вы уверены, что хотите архивировать продукт '{{ product.name }}' </h1>
<div>
    <a href='{% url "shopapp:product_details" pk=product.pk %}'>
        Вернуться к продукту
    </a>
</div>
<div>
    <form method="post" >
    {% csrf_token %}
        {{ form.as_p }}
                <button type="submit">
            Архивировать
        </button>
        </form>
    </div>


{% endblock %}