{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
  Список заказов пользователя {{ user.pk }}
{% endblock %}

{% block body %}
    {% cache 100 order_info user_username %}
    {% if user_orders %}
    <h2>Заказчик {{ user.username }} выполнил следующие заказы:</h2>
    {% for order in user_orders %}
        <div>
          <p><h3><a href='{% url "shopapp:order_detail" pk=order.pk %}'>Заказ {{ order.pk }} </a> </h3></p>
          <p>Адрес доставки: {{ order.delivery_address }}</p>
          <div>
            Товары в заказе:
            <ul>
              {% for product in order.products.all %}
                <li>{{ product.name }} for ${{ product.price }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h3>У пользователя '{{ user.username }}' ещё нет заказов</h3>
  {% endif %}
{% endcache %}
<div>
    <a href='{% url "shopapp:order_create" %}'>
        Создать новый заказ
    </a>
</div>
{% endblock %}
